<manifest xmlns:android="http://schemas.android.com/apk/res/android"><uses-permission android:name="android.permission.INTERNET"/><application android:name=".IbnAwfApp" android:label="معهد بن عوف" android:theme="@style/AppTheme" android:usesCleartextTraffic="false"><activity android:name=".StudentActivity" android:process=":student"/><activity android:name=".TeacherActivity" android:process=":teacher"/><activity android:name=".SupervisorActivity" android:process=":supervisor"/><activity android:name=".SecretaryActivity" android:process=":secretary"/><activity android:name=".ManagerActivity" android:process=":manager"/><activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>
